/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * TrickOfTheRails implementation : @ David Edelstein <davidedelstein@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * trickoftherails.css
 *
 * TrickOfTheRails stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (trickoftherails_trickoftherails.tpl), and to HTML elements you create dynamically
    (in trickoftherails.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

/* Hide by default */
.shares_container {
    display: none;
}

.player_shares_heading {
    text-align: center;
}

.shares_lane {
    display: flex;
}

.player_shares {
    margin: 10px;
}

.rr_lane {
    display: flex;
}

.rr_lane_logo {
    margin-top: 5px;
    background-position: top;
    background-image: url(img/railroad_sprites.png);
    background-repeat: no-repeat;
}

.locomotive_slot {
    background-size: 110px 51px;
    background-position: center;
    background-image: url(img/locomotive.png);
    background-repeat: no-repeat;
    background-color: lightgray;
    opacity: 0.5;
    width: 114px;
    height: 171px;
    border-radius: 5px;
    border-style: groove;
}

.railway_endpoint {
    background-size: 50px 50px;
    background-position: center;
    background-image: url(img/game_icon.png);
    background-repeat: no-repeat;
    width: 114px;
    height: 171px;
}

.nice_card {
    border-radius: 10px;
    border: 1px black solid;
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=30);
}

#b_and_o_logo {
    background-size: 705px 125px;
    width: 125px;
    height: 125px;
    background-position: 0px 0px;
}

#c_and_o_logo {
    background-size: 705px 125px;
    width: 125px;
    height: 125px;
    background-position: -125px 0px;
}

#erie_logo {
    background-size: 705px 125px;
    width: 125px;
    height: 125px;
    background-position: -250px 0px;
}

#nyc_logo {
    background-size: 438px 78px;
    width: 125px;
    height: 78px;
    background-position: -312px 0px;
}

#prr_logo {
    background-size: 705px 125px;
    width: 126.5px;
    height: 125px;
    background-position: -375px 0px;
}
