/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * TrickOfTheRails implementation : @ David Edelstein <davidedelstein@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * trickoftherails.css
 *
 * TrickOfTheRails stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (trickoftherails_trickoftherails.tpl), and to HTML elements you create dynamically
    (in trickoftherails.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */

:root {
    --color_b_and_o: #004D7A;
    --color_c_and_o: #80933F;
    --color_erie: #EDB630;
    --color_nyc: #B8B7AE;
    --color_prr: #9A1D20;
}

/* Hide by default */
.totr_shares_display {
    display: none;
}

.totr_shares_lane {
    display: flex;
}

.totr_player_shares {
    margin: 10px;
}

.totr_flex_lane {
    display: flex;
    flex-wrap: wrap;
}

.totr_locomotive_slot {
    margin: 5px;
    background-size: 110px 51px;
    background-position: center;
    background-image: url(img/locomotive.png);
    background-repeat: no-repeat;
    background-color: lightgray;
    opacity: 0.5;
    width: 114px;
    height: 171px;
    border-radius: 5px;
    border-style: groove;
}

/** Only added during place locomotive */
.totr_locomotive_slot_active {
    opacity: 1;
    box-shadow: 1px 1px 1px 0px lightgray;
}

.totr_railhouse {
    background-size: 675px 337.5px;
    background-image: url(img/railhouse_sprites.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 112.5px;
    height: 112.5px;
}

.totr_nice_card {
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
}

.totr_small_station_values_card {
    margin-left: 10px;
    background-size: 75px 50px;
    background-image: url(img/station_values_card.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 75px;
    height: 50px;
}

.totr_large_station_values_card {
    background-size: 480px 320px;
    background-image: url(img/station_values_card.jpg);
    background-repeat: no-repeat;
    width: 480px;
    height: 320px;
}

/* .card_lead {
    border: 2px solid white;
    box-shadow: 0px 0px 2px 3px;
}

.card_played_not_lead {
    transform: translate(15px, 0);
} */

/** for card value text in logs */
.totr_card_value {
    color: #ffff;
    font-weight: bold;
    display: inline-block;
    padding-inline: 8px 8px;
}

/** for locomotive value text in logs */
.totr_locomotive_value {
    background-color: #E2DAB4;
    color: black;
    outline: 1px solid black;
    font-weight: bold;
    display: inline-block;
    padding-inline: 5px;
}

.totr_noselect {
    border: 1px gray solid;
    border-style: inset;
    cursor: not-allowed;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
}

/* Decoration for cards when they are selectable (of the trick color) */
.totr_trick_color {
    border: white 2px;
    border-style: solid double;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.8);
}

.totr_trick_color:hover {
    border-color: salmon;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
}

/** totr_ready_railhouse class is dynamically added and removed */
.totr_ready_railhouse:active {
    transform: translateX(4px) translateY(4px);
}

.totr_lane_header {
    text-align: center;
    text-indent: 12px;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

/* base class for RR logs */
.totr_rr_logo {
    margin: 5px;
    background-position: top;
    background-image: url(img/railroad_sprites.png);
    background-repeat: no-repeat;
}

/* holds an rr icon and counter */
.totr_rr_counter_container {
    display: inline-block;
}

/* Shows share count on player boards */
.totr_shares_ctr {
    font-size: 24px;
    font-weight: 700;
    vertical-align: baseline;
}

/* scale can be resized separately in the tpl */
.totr_rr_icon {
    --scale: 1;
    display: inline-block;
    background-size: calc(var(--scale) * 140px) calc(var(--scale) * 25px);
    vertical-align: -10px;
}

.totr_b_and_o_icon {
    width: calc(var(--scale) *25px);
    height: calc(var(--scale) *25px);
    background-position: 0px 0px;
}

.totr_c_and_o_icon {
    width: calc(var(--scale) *25px);
    height: calc(var(--scale) *25px);
    background-position: calc(var(--scale) * -25px) 0px;
}

.totr_erie_icon {
    width: calc(var(--scale) *25px);
    height: calc(var(--scale) *25px);
    background-position: calc(var(--scale) * -50px) 0px;
}

.totr_nyc_icon {
    width: calc(var(--scale) *40px);
    height: calc(var(--scale) *25px);
    background-position: calc(var(--scale) *-100px) 0px;
}

.totr_prr_icon {
    width: calc(var(--scale) *25px);
    height: calc(var(--scale) *25px);
    background-position: calc(var(--scale) *-75px) 0px;
}

.totr_help_display {
    display: flex;
    align-items: center;
    justify-content: center;
}

#discard_shares_header {
    text-align: center;
    text-indent: 12px;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    color: black;
}

#discarded_shares {
    background-color: lightgray;
    opacity: 0.6;
}

/* the NYC logo needs to be sized independently, or it takes up too much width */
#nyc_logo {
    background-size: 438px 78px;
    width: 125px;
    height: 78px;
    background-position: -312px 0px;
}

/* #b_and_o_logo {
    background-size: 705px 125px;
    width: 125px;
    height: 125px;
    background-position: 0px 0px;
}

#c_and_o_logo {
    background-size: 705px 125px;
    width: 125px;
    height: 125px;
    background-position: -125px 0px;
}

#erie_logo {
    background-size: 705px 125px;
    width: 125px;
    height: 125px;
    background-position: -250px 0px;
}

#nyc_logo {
    background-size: 438px 78px;
    width: 125px;
    height: 78px;
    background-position: -312px 0px;
}

#prr_logo {
    background-size: 705px 125px;
    width: 126.5px;
    height: 125px;
    background-position: -375px 0px;
} */